@charset "UTF-8";

@font-face {
    font-family: 'cpui-iconfont';
    src: url('../font/iconfont.woff2?v=1') format('woff2'),
        url('../font/iconfont.woff?v=1') format('woff'),
        url('../font/iconfont.ttf?v=1') format('truetype');
}

@font-face {
  font-family: 'Coupert UI Font';
  src: url('../font/CoupertUIFont.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
}
